.terminal.bashrc
/eutils/
/eutils.*

venv/
env/
.env
node_modules/
__old__/
dump/
tmp/
dist/
.vagrant/
Desktop.ini
tmp*

._*
__pycache__/
.pytest_cache
local_settings.py
*.py[cod]
*.so
.Python
build/
develop-eggs/
eggs/
src/*.egg-info
downloads/
.coverage
htmlcov/
htmlcov.runme
coverage.xml
coverage.*.xml
storage/mailhog/

pip-log.txt
*.log
storage/logs/
*.pot

_*.todo

db.sqlite3
app.db
test.db

yarn-error.log

coverage_html_report
