ansicolors
asciitree
atomicwrites
attrs
autopep8
colorama
coverage
docformatter
graphviz
iniconfig
Jinja2
lxml
MarkupSafe
more-itertools
packaging
Pillow
pluggy
ply
py
pycodestyle
pyparsing
pytest
python-dotenv
python-pptx
six
toml
untokenize
XlsxWriter
